.container-chrono {
  margin-top: 50px;
  background: #f1f1f1;
  padding: 10px;
  min-width: 550px;
  min-height: 500px;
  border-radius: 5px;
}
.anim-glow {
  animation: glow 1s infinite alternate;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px 0px #f4b0ae;
  }
  to {
    box-shadow: 0 0 20px 20px #7351cf;
  }
}

.container-config {
  display: flex;
  justify-content: center;
  padding: 70px 0 0;
}
.box-btns button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 50px;
  border: 3px solid #4a64d8;
  background: #f1f1f1;
  position: relative;
  box-shadow: 0 6px #4a64d8;
  color: #4a64d8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.box-btns button:active {
  box-shadow: 0 0px #4a64d8;
  top: 6px;
}

.box-btns span {
  font-size: 35px;
  font-weight: bold;
  color: #4a64d8;
  margin: 0 15px;
}

.box-btns:nth-child(1){
  margin-right: 30px;
}
.box-btns:nth-child(1), .box-btns:nth-child(2){
  position: relative;
}
.box-btns:nth-child(1)::before, .box-btns:nth-child(2)::before{
  content: "Session";
  position: absolute;
  left: 51%;
  top: -30px;
  transform: translateX(-50%);
  font-size: 20px;
  text-transform: uppercase;
  color: #4a64d8;
}
.box-btns:nth-child(2)::before{
  content: "BREAK";
}

h1 {
  font-size: 70px;
  text-align: center;
  padding-top: 60px;
  color: #f1f1f1;
}
h1 span {
  border-radius: 5px;
  padding: 15px;
  background: #4a64d8;
}


.container-controllers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0;
}
.container-controllers button {
  padding: 10px 15px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 5px;
  border: none;
  background: #f1f1f1;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 6px #4a64d8;
  border: 3px solid #4a64d8;
}
.container-controllers button:active {
  box-shadow: 0 0px #4a64d8;
  top: 6px;
}
.container-controllers img {
  width: 50px;
  height: 50px;
}
.container-controllers img[src="/static/media/pause.51695783.svg"] {
  width: 20px;
  height: 20px;
}