.notes-list-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
    grid-gap: 20px;
  justify-content: center;
  list-style-type: none;
  background: lightblue;
  margin-top: 35px;
}

.notes-list-card li {
  width: 280px;
  height: auto;
  background: pink;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}
.notes-list-card li:hover {
  transform: translateY(-3px);
}
.notes-list-card a {
  text-decoration: none;
  color: #222;
}
.notes-list-card li h2 {
  text-align: left;
  margin-bottom: 5px;
  font-size: 18px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notes-list-card li p {
  text-align: left;
  font-size: 18px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
