.global-container {
    margin-left:  170px;
    position: absolute;
    width: calc(100% - 170px);
}
@media screen and (max-width: 870px) {
    .global-container {
        margin-left:  0px;
        position: relative;
        width: 100%;
        top: 70px;
    }
}
h1 {
    font-size: clamp(20px, 3vw, 40px);
    text-align: center;
    margin: 30px 0 20px;
    text-transform: uppercase;
    font-family: Open sans;
}

form {
    margin: 0 auto;
    max-width: 400px;
}
label {
    display: block;
    text-align: center;
    font-size: clamp(16px, 2vw, 30px);
}
select {
    padding: 10px 8px;
    display: block;
    font-size: 20px;
    margin: 10px auto 50px;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.chart-container {
    position: relative; 
    width: 40%;
    margin: 20px;
}

@media screen and (max-width: 900px) {
    .chart-container {
        width: 90%;
        margin: 10px;
    }
}